/*menu style */
body{
  overflow-x: hidden;

}
#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    color: #7D7B7D;
    transition: all 0.3s;
    width: 231px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
  
  }
  .side-menu{
      /* height: 450px; */
  }
  /* #content{
    width: -webkit-fill-available !important;
} */

.sidebar-header {
    padding: 15%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #e4e0e0;
    text-align: center;
  
     

  }
  .sidebar-header>p{
    color: #88b121;
    font-weight: 600;
    font-size: 25px;
  }
 .side-menu ul li{
    border-bottom: 1px solid #e4e0e0;
    padding: 1%;

 }
 .side-menu ul li:nth-last-child(1){
    border-bottom:unset !important;
  

 }
#sideMenu-icon{

    position: absolute;
    top: 11%;
    left: 0;

}
.move-icon{
    left: 0 !important;
}
.move-icon2{
    left: 17% !important;

}
  
  
  #sidebar ul {
    padding: 20px 0;
  }
  
 
  #sidebar ul li a {
    padding: 15px;
    padding-left: 6%;
    text-align: left;
    font: normal 14px/36px Roboto;
    letter-spacing: 0.28px;
    color: #7D7B7D;
  }
  
  #sidebar ul li:hover {
    background-color: #E4E4E4;
  }
  
  #sidebar ul li.active > a, a[aria-expanded=true] {
    color: #fff;
    background: #6d7fcc;
  }
  
 
  .sidebar-icon {
   width: 40px;
   height: 40px;
   margin-top: 3%;

   
  }
  .sidebar-icon:hover{
     transform: scale(1.5);
  }
  
  
  /*header **********************************/
  body .nav-header {
    height: 120px;
    position: relative;
    padding: 15px 0 5px 20px;
    color: #777;
    border-bottom: 1px solid #eee;
    -webkit-box-shadow: 0 0 0px 1px rgba(207, 206, 206, 0.377);
    box-shadow: 0 0 0 0px 1px rgba(207, 206, 206, 0.377);
    background-image: url("../images/3656056.svg");
    background-size: cover;
  }
  
  body .nav-header .navbar-toggler {
    border: 0;
    float: right;
  }
  
  @media (max-width: 991px) {
    body .nav-header .navbar-toggler {
      float: none;
    }
  }
  body .nav-header .navbar-toggler span {
    font-size: 15px;
  }
  
  body .nav-header .btn-c {
    padding: 15px;
    border-radius: 10px;
  }
  
  body .nav-header .nav-list {
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0;
  }
  
  body .nav-header .nav-list li {
    padding: 0 10px;
  }
  
  body .nav-header .end-btn {
    border-radius: 10px;
  }
  
  .app-header {
    /* box-shadow: 0px 3px 8px -5px rgba(249, 245, 245, 0.2); */
    width: -webkit-fill-available;
  }
  
  .header-title {
    text-align: center;
    font: normal 24px/36px Roboto;
    letter-spacing: 0.48px;
    color: #7D7B7D;
  }
  
  .navbar-icon {
    background-color: #0000 !important;
    border-color: #0000 !important;
    box-shadow: 0 0 0 0.2rem #0000;
  }
  
  .navbar-icon button:focus {
    background-color: #0000 !important;
    border-color: #0000 !important;
    box-shadow: 0 0 0 0.2rem #0000;
  }
  
  .company-logo {
    border: 1px solid #7D7B7D;
    text-align: center;
    margin: auto;
    padding: 4px;
    border-radius: 13px;
    font: Bold 14px/45px Roboto;
    letter-spacing: 0.28px;
    color: #7D7B7D;
    width: 142px;
    height: 57px;
  }
  
  .sidemenu-img, .header-img {
    border-radius: 50% !important;
    width: 68px;
    height: 64px;
  }
  
  .header-img {
    width: 39px;
    height: 39px;
  }
  
  .header-user {
    font: normal 13px/20px Source Sans Pro;
    color: #4D4F5C;
  }
  .header-icon {
    color: #BCBCCB;
  }
  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  @media screen and (max-width: 786px) {
    .disapper-header {
      display: none !important;
    }
  
    .nav-header {
      width: 100%;
    }
  }
  
  /*# sourceMappingURL=navbar.css.map */
  