*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif', serif;
}

/*header */
#header-nav{
    border: 0;
    border-radius: 0;
    position: fixed;
    width:100%;
    background: rgba(12, 11, 9, 0.6);
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    z-index: 997;
    padding: 15px 0;
}
#logo-img{
    height: 50px;
    width: 50px;
   
}
.logo-name{
    font-size: 28px;
    color: #cda45e;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
   
}


.link-color a{
    color: white !important;
   
}
.link-color a:hover{
    color:  #cda45e !important;
}
.table-btn{
    border: 3px solid #cda45e;
    border-radius: 20px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;
}
/* @media ( max-width:767px){
    
    header button {
        margin-left: 247px;
    }
} */

  /**** About section ***/
  .about{
      background-image: url("../images/Vintage\ Interiors_\ 7\ Amazing\ Retro\ Cafes.jpg");
      background-size: cover;
      background-position:  center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
      width: 100%;
    
      opacity: 0.7;
      padding: 3%;
      color: white;
  }
  .about li{
      font-size: 20px;
      font-weight: 400;
      color: white;
  }
.about h4{
    color: #cda45e;
}
  .about-img{
      width: 95%;
      border-radius: 5px;
      transform: translateY(300px) ;
      transition: transform 0.5s 0s linear;
     will-change: transform;
  }
  .about-img.is-visible {
   
    transform: translateY(0) ;
  }
  .about-img:hover{
    transform: scale(1.1);
  }


  /**** why us *****/
  .whyUs{
      width: 100%;
      background-color: #0c0b09;
      padding: 3%;
  }
  .whyUs h2{
      color:#cda45e ;
  }
  .whyUs h6{
    color:white ;
}

  .box{
     
      background-color: #1a1814;
      color: #cdcccc;
    padding: 4%;
      border-radius: 5px;
      transform: translateY(150px) ;
      transition: transform 0.5s 0s linear;
     will-change: transform;
     font-size: 16px;
     line-height: 1.5;
      
  }
  .box.is-visible {
   
    transform: translateY(0) ;
  }
  .box:hover{
      background-color: #90774c;
      transform: scaleY(1.1);
  }

  .box-num{
    color:#cda45e;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    
  }
  .box:hover .box-num{
    color:  #cdcccc;
  }
  @media (max-width:762px){

  .box{
      margin-bottom: 15px;
      padding: unset;
  }
  }

  /*************** Menu **********/
  .menu{
      widows: 100%;
      background-color: #1a1814 ;
      padding: 2%;
      color: white;
  }
  .menu h2{
    color:#cda45e ;
}
.menu h6{
  color:white ;
}
.menu-nav{
    text-align: center;
}
.menu-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 1%;

}
.menu-nav li>a:hover{
    color:#cda45e !important;
}
.menu-nav li>a{
    text-decoration: none;
    color: white !important;
}
.menu-nav > :first-child a{
    color:#cda45e !important;
}

.menu-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1%;
    border: 3px solid gray;
}

.menu-list{
    list-style: none;

    transform: translateY(200px) ;
    transition: transform 0.5s 0s linear;
   will-change: transform;
}
.menu-list.is-visible{
    transform: translateY(0) ;
}
.menu-list b{
    color:#cda45e
}
.menu-list li{
    margin-bottom: 2%;
}
/*****************Gallery **************/
.gallery{
    width: 100%;
     background-color:  black ;
    padding: 2%;
    color: white;
}
.gallery h2{
  color:#cda45e ;
}
.gallery-img{
    width: 100%;
    height: 300px;
    margin-left: -2;
    transform: translateY(200px) ;
    transition: transform 0.5s 0s linear;
    will-change: transform;
}

.gallery-img.is-visible{
    transform: translateY(0) ;
}

.gallery-img:hover{
    transform:scaleX(1.1);
    opacity:0.7;
}
/*********Table *************/
.bookTable{
    width: 100%;
    background-color: #0c0b09;
    padding: 3%;
}
.bookTable h2{
    color:#cda45e ;
}
.bookTable h6{
  color:white ;
}
.bookTable-img{
    width: 100%;
    height: 500px;
    border-radius: 9px;

}
.bookTable .form-control , .contactUs .form-control{
    background-color: #0c0b09 !important;
    border: 1px solid #3e3c38 !important;
    padding: 2%;
}
.bookTable button ,.bookTable button:hover ,
.contactUs button ,.contactUs button:hover{
    color: #e2d2b1;
    background-color: #c59e5b;
    border-color: #c59e5b !important;
    width: 150px;
    padding: 1%;
    border-radius: 9px;
}
.bookTable select {
    background-color: #cda45e !important;
    color: white;
    border-color: #cda45e !important;
    width: 150px;
    margin-left: 7%;
    padding: 2%;
}
.bookTable-form-btn{
    text-align: center;
}


/*******Contact Us*****/
.contactUs{
    width: 100%;
    background-color: #171614;
    padding: 3%;
    color: white;
}
.contactUs h2{
    color:#cda45e ;
}
.contactUs h6{
  color:white ;
}
.contactUs li{
    list-style: none;
}
.contactUs li p{
    margin-left: 10%;
    color: gray;
}
.contactUs li svg{
    margin-right: 3%;
}
.contactUs li span{
    font-size: 22px;
}

/* The footer is fixed to the bottom of the page */

footer{
	/* position: fixed; */
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	
}


.footer-distributed{
	background-color: #171614;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
    /* margin-top: 80px; */
    border-top: 1px solid gray;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}
.footer-left p{
    color:white;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #cda45e;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
    width: 46px;
    height: 42px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 50%;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}